#countLabel {
    display: block;
    text-align: center;
    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn {
    font-size: 1.5rem;
    padding: 10px 20px;
    color: white;
    background-color: #007BFF;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;

}